<nb-layout>

  <nb-layout-header fixed>
    <!-- Add search bar?-->
    <a href="#"><img id='logo' width="64" alt="SpaceX-Logo-Xonly"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/SpaceX-Logo-Xonly.svg/64px-SpaceX-Logo-Xonly.svg.png"></a>
    <h5 id="title">Mission Client</h5>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
